doctype html
html(lang="sv")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title Medieteknik - Ny Student
        link(rel="stylesheet" href="assets/css/main.css")
    body
        div.wrapper
            h4 Medieteknik - Malmö Högskola
            ul.navigation
                li
                    a(href="/") Start
                li
                    a(href="/list") Lista
                li
                    a(href="/export") Exportera

            form.download-form(action="/export" method="POST")
                button(type="submit") Exportera

        footer.footer
            p Medieteknik
