doctype html
html(lang="sv")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        title Medieteknik - Ny Student
        link(rel="stylesheet" href="assets/css/main.css")
    body
        div.wrapper
            h4 Medieteknik - Malmö Högskola
            ul.navigation
                li
                    a(href="/") Start
                li
                    a(href="/list") Lista
                li
                    a(href="/export") Exportera

            div.introduction
                h1 Hej student
                p Fyll i dina personuppgifter i formuläret nedan. Informationen använder vi för att göra fotolistor, kontaktlistor och reslutatmallar.
                p Undvik stavfel och skriv för- och efternamn med stor begynnelsebokstav.

            if error
                div.error
                    p Vänligen fyll i samtliga fält på ett korrekt vis.

            if success
                div.success
                    p Ny student tillagd!

            form.create-student(action="/" method="POST" id="form")
                select(name="program")
                    option(value="0") Välj utbildningsprogram
                    option(value="PM") Produktionsledare - Media
                    option(value="MPP") Medieproduktion och processdesign
                input(type="text" name="firstname" placeholder="Förnamn")
                input(type="text" name="lastname" placeholder="Efternamn")
                input(type="text" id="ssn" name="ssn" placeholder="Personnummer (xxxxxx-xxxx)")
                input(type="text" name="phone" placeholder="Telefonnummer")
                input(type="text" name="email" placeholder="E-post")
                input(type="hidden" name="gender" value="")
                input(type="hidden" name="stop" value="")
                input(type="hidden" name="dissertation" value="")
                input(type="hidden" name="image" value="")
                button(type="submit") Spara


        footer.footer
            p Medieteknik

        script(type='text/javascript').
            window.onload = function() {
                var form = document.getElementById( 'form' ),
                    ssn = document.getElementById( 'ssn' );

                form.addEventListener( 'submit', function( e ) {
                    e.preventDefault();

                    if ( ssn.value == '' ) {
                        return;
                    }

                    var xhr = new XMLHttpRequest();
                    xhr.onload = function() {
                        if ( this.status == 200 ) {
                            var a = confirm( 'Student existerar: vill du skriva över?' );

                            if ( a ) {
                                form.submit();
                            }
                        } else {
                            // New student
                            form.submit();
                        }
                    };
                    xhr.open( 'get', '/student?ssn=' + ssn.value, true );
                    xhr.send();
                });
            };
